* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

#content {
    background-color: red;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}
/* ----- header -----  */
.headerContainer {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
}

.headerBox1 {
  background-color: brown;
}


/* ---- about page ----- */
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 5%;
}

.title{
  background-color: green;
  font-size: 35px;
  margin-bottom: 50px;
}

.box {
  border: none;
  background: none;
}


.mid{
  display: flex;
  flex-direction: column;
  background-color: tan;
  border: solid 10px black;
}

.midTopContainer{
  display: flex;
}

.midTopLeft {
  height: 100px;
  width: 100px;
  background-color: gold;
  border: solid 5px grey;
}

.midTopRight {
  height: 100px;
  width: 100px;
  background-color: orange;
  border: solid 5px grey;
}


.midBottomContainer {
  
  height: 50px;
  background: blue;
  border: solid 5px rebeccapurple;
  
}

.footer{
  background-color: yellow;
}




/* ----- menu page ----- */
.menuContainer {
  width: max(405px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 400px;
  height: 200px;
  background-color: teal;
  border: solid 5px grey;
}
